
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Viettel IDC">
    <meta name="title" content="Viettel IDC | Data Center & Cloud Computing | Website chính thức" />
    <meta name="description" content="Viettel IDC | Nhà cung cấp dịch vụ Trung tâm dữ liệu & Điện toán đám mây hàng đầu Việt Nam. Máy chủ ảo giá tốt nhất. Thuê Server cấu hình mạnh. Chỗ đặt máy chủ. Hosting. Domain. Cam kết chất lượng." />
    <meta name="keywords" content="colocation, thue cho dat, data center, trung tam du lieu, cloud computing, dien toan dam may, cloud server, vps, may chu ao, data, du lieu, sao luu, backup, data center in vietnam, technology, cloud server in vietnam" />
    <meta name="og:keywords" content="colocation, thue cho dat, data center, trung tam du lieu, cloud computing, dien toan dam may, cloud server, vps, may chu ao, data, du lieu, sao luu, backup, data center in vietnam, technology, cloud server in vietnam" />
    

    <!-- <link href="~/Themes/itmetech/css/bootstrap-datepicker.standalone.css" rel="stylesheet" /> -->
    <link href="/Themes/itmetech/css/main.css" rel="stylesheet" />
    <link href="/Themes/itmetech/css/CustomColor.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700|Montserrat:400,500,600,700|Open+Sans:400,700|Noto+Sans:400|&amp;subset=vietnamese" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />

    

    <link rel="icon" href="/assets/imgs/Favicon-IDC.png" sizes="32x32" />
    <link rel="shortcut icon" href="/assets/imgs/Favicon-IDC.png" type="image/x-icon" />

    <script type="text/javascript" src="/Themes/itmetech/js/main.js"></script>
    <!-- <script type="text/javascript" src="/Scripts/knockout-3.4.2.js"></script> -->
    <!-- <script type="text/javascript" src="/Scripts/knockout.mapping-latest.js"></script> -->

    <!-- <script src="/Scripts/jquery.validate.js"></script> -->
<!-- <script src="/Scripts/jquery.validate.unobtrusive.js"></script> -->


    <script type="text/javascript">
    var globalCulture = "vi-VN";
    </script>

        <script src="/Scripts/resources/constants/constants.js?ver=1.0" type="text/javascript"></script>

    <style>
        .color-red {
            color: red !important;
        }
    </style>

    <script>
    var ResourceItem = {};
    
    for (var i = 0; i < ResourceItem1.length; i++) {
        ResourceItem[ResourceItem1[i].Key] = ResourceItem1[i].Value;
    }
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91989225-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91989225-1"></script>

    <script>
        gtag('config', 'UA-91989225-1');
    </script>
</head>

<body class='home-page user-no-bg-dashboard'>
    <!--Insider tag -->
    <!-- <script async src="//viettelidc.api.useinsider.com/ins.js?id=10006043"></script> -->

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NX78B8P"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- WRAPPER -->
    
    <section class='home-header'>
        <link rel="stylesheet" href="/assets/css/custome/header.css">
<link rel="stylesheet" href="/assets/css/custome/animation.css">





<nav class="top-nav" style="background: white;">
    <div class="container-fluid">
        <div class="menu-social">
            <ul>
                <li><a href="https://www.facebook.com/viettelidc/" target="_blank" title="Facebook"><i class="vt-icon icon-facebook_menu"></i></a></li>
                <li><a href="https://twitter.com/IdcViettel?lang=vi" target="_blank" title="Twitter"> <i class="vt-icon icon-twitter_menu"></i></a></li>
                <li><a href="mailto:support@viettelidc.com.vn" target="_blank" title="Email"><i class="vt-icon icon-envelope-regular"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UC0bqnPvRMO0yvcOs9AMdImw/featured" target="_blank" title="Youtube"><i class="vt-icon icon-youtube_menu"></i></a></li>
            </ul>
        </div>
        <div class="row row-sm">
            <div class="logo py-3 text-center logo-IDC">
                <a class="navbar-brand" href="/" title="Viettel IDC">
                    <img src="/Themes/itmetech/img/logo-IDC-2.png" alt="Viettel IDC" title="H&#224; Nội: Tầng 16, Hapulico Center Building, Số 1 Nguyễn Huy Tưởng, Q.Thanh Xu&#226;n." />
                </a>
            </div>
            <input type="checkbox" id="hamburger-checkbox" />
            <label class="hamburger-icon" for="hamburger-checkbox">
                <span></span>
            </label>
            <div class="background-trans"></div>
            <div class="menu">
                <div class="menu-nav" id="mega-menu">
                    

<div class="render-menu-container" id="render-menu-container">
    <ul class="level1 render-menu desktop">
            <li class="d-lg-none">
                <a class="login-dd" href="/Account/Login">
                    <img class="mr-2" src="/Themes/itmetech/img/svg/login_icn_grey.svg" /> Đăng nhập
                </a>
            </li>

                <li class="menu-root" id="1180">
                    
                                <a href="#" class="arrow-down arrow-right" id="Service">Dịch vụ</a>
                                            <ul class="container-menu-child menu-child-1180" id="1180">
                            <div class="container-menu-child-div">
                                    <li class="mega" id="1184">
                                                <a href="#" class="arrow-right-mega">Điện to&#225;n đ&#225;m m&#226;y</a>
                                                                                    <ul class="container-sub-menu sub-menu-1184" id="">
                                                <li>
                                                    <div class="mega-menu sub-menu">


                                                                    <ul class="select-des">
                                                                                <li id="3380">
                                                                                    <a href="/cloud-server">
Viettel Cloud Server
                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
M&#225;y chủ ảo tr&#234;n đ&#225;m m&#226;y                                                                                     </p>
                                                                                    
                                                                                </li>
                                                                                <li id="1198">
                                                                                    <a href="/private-cloud">
Viettel Private Cloud
                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Đ&#225;m m&#226;y d&#249;ng hạ tầng ri&#234;ng                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="1239">
                                                                                    <a href="/virtual-private-cloud">
Viettel Virtual Private Cloud (vVPC)
                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Đ&#225;m m&#226;y ri&#234;ng ảo                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="3319">
                                                                                    <a href="/cloud-gpu">
Viettel Cloud GPU
                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
M&#225;y chủ ảo t&#237;ch hợp GPU                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="3320">
                                                                                    <a href="/dedicated-private-cloud">
Viettel Dedicated Private Cloud (vDPC)
                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Đ&#225;m m&#226;y ri&#234;ng chuy&#234;n dụng                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="3365">
                                                                                    <a href="/viettel-op-private-cloud">
Viettel Open Private Cloud (vOPC)
                                                                                            <i class="badge badge-success">New</i>
                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
M&#225;y chủ ri&#234;ng tr&#234;n đ&#225;m m&#226;y m&#227; nguồn mở - OpenStack                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                        


                                                                    </ul>


                                                    </div>
                                                </li>

                                            </ul>
                                    </li>
                                    <li class="mega" id="3302">
                                                <a href="#" class="arrow-right-mega">Trung t&#226;m dữ liệu</a>
                                                                                    <ul class="container-sub-menu sub-menu-3302" id="">
                                                <li>
                                                    <div class="mega-menu sub-menu">


                                                                    <ul class="select-des">
                                                                                <li id="1209">
                                                                                    <a href="/cho-thue-cho-dat-thiet-bi">
Viettel Colocation

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Kh&#244;ng gian chỗ đặt chuẩn Rated 3 -&#160;TIA 942                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="1210">
                                                                                    <a href="/cho-thue-may-chu">
Viettel Server Leasing

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Cung cấp m&#225;y chủ với cấu h&#236;nh đa dạng                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                    </ul>


                                                    </div>
                                                </li>

                                            </ul>
                                    </li>
                                    <li class="mega" id="1186">
                                                <a href="#" class="arrow-right-mega">Lưu trữ đ&#225;m m&#226;y</a>
                                                                                    <ul class="container-sub-menu sub-menu-1186" id="">
                                                <li>
                                                    <div class="mega-menu sub-menu">


                                                                    <ul class="select-des">
                                                                                <li id="1204">
                                                                                    <a href="/cloud-storage">
Viettel Cloud Object Storage

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Lưu trữ đ&#225;m m&#226;y dạng Đối tượng                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="3376">
                                                                                    <a href="/cloud-file-storage">
Viettel Cloud File Storage
                                                                                            <i class="badge badge-success">New</i>

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Lưu trữ đ&#225;m m&#226;y dạng Tệp                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                    </ul>


                                                    </div>
                                                </li>

                                            </ul>
                                    </li>
                                    <li class="mega" id="3332">
                                                <a href="#" class="arrow-right-mega">Sao lưu đ&#225;m m&#226;y</a>
                                                                                    <ul class="container-sub-menu sub-menu-3332" id="">
                                                <li>
                                                    <div class="mega-menu sub-menu">


                                                                    <ul class="select-des">
                                                                                <li id="1205">
                                                                                    <a href="/data-archive">
Viettel Cloud Data Archiving

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Lưu trữ dữ liệu l&#226;u d&#224;i, tiết kiệm chi ph&#237;                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="1206">
                                                                                    <a href="/backup-as-a-service">
Viettel Cloud Backup

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Sao lưu dữ liệu tự động tr&#234;n đ&#225;m m&#226;y                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="1208">
                                                                                    <a href="/dr-as-a-service">
Viettel Cloud DR

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Sao lưu, dự ph&#242;ng dữ liệu tr&#234;n đ&#225;m m&#226;y                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                    </ul>


                                                    </div>
                                                </li>

                                            </ul>
                                    </li>
                                    <li class="mega" id="3333">
                                                <a href="#" class="arrow-right-mega">Bảo mật đ&#225;m m&#226;y</a>
                                                                                    <ul class="container-sub-menu sub-menu-3333" id="">
                                                <li>
                                                    <div class="mega-menu sub-menu">


                                                                    <ul class="select-des">
                                                                                <li id="1190">
                                                                                    <a href="/cloud-security">
Viettel Cloudrity

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Chống tấn c&#244;ng mạng cho hệ thống dịch vụ                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="3328">
                                                                                    <a href="/viettel-cloud-firewall">
Viettel Cloud Firewall (VCF)

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Tường lửa thế hệ mới tr&#234;n đ&#225;m m&#226;y                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="3371">
                                                                                    <a href="/viettel-endpoint-security">
Viettel Endpoint Security
                                                                                            <i class="badge badge-success">New</i>

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Bảo vệ to&#224;n diện trước c&#225;c mối đe dọa nguy hiểm cho c&#225;c thiết bị đầu cuối                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                    </ul>


                                                    </div>
                                                </li>

                                            </ul>
                                    </li>
                                    <li class="mega" id="3307">
                                                <a href="#" class="arrow-right-mega">Kết nối</a>
                                                                                    <ul class="container-sub-menu sub-menu-3307" id="">
                                                <li>
                                                    <div class="mega-menu sub-menu">


                                                                    <ul class="select-des">
                                                                                <li id="1212">
                                                                                    <a href="/kenh-truyen-internet">
Viettel Interconnection

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Dịch vụ kết nối trong nước &amp; quốc tế                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="3331">
                                                                                    <a href="/viettel-hybrid-connect">
Viettel Hybrid Connect

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Kết nối mạng đến đ&#225;m m&#226;y của Viettel IDC                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="1211">
                                                                                    <a href="/mang-phan-phoi-noi-dung-cdn">
Viettel Media CDN

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Mạng ph&#226;n phối nội dung, tăng tốc độ truy cập dịch vụ số                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="3370">
                                                                                    <a href="/viettel-sdwan">
Viettel SD-WAN
                                                                                            <i class="badge badge-success">New</i>

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Mạng WAN ảo gi&#250;p dễ d&#224;ng kết nối hệ thống chi nh&#225;nh của tổ chức                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                    </ul>


                                                    </div>
                                                </li>

                                            </ul>
                                    </li>
                                    <li class="mega" id="3334">
                                                <a href="#" class="arrow-right-mega">Gi&#225;m s&#225;t &amp; IoT</a>
                                                                                    <ul class="container-sub-menu sub-menu-3334" id="">
                                                <li>
                                                    <div class="mega-menu sub-menu">


                                                                    <ul class="select-des">
                                                                                <li id="1192">
                                                                                    <a href="/cloud-camera">
Viettel Cloud Camera

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Dịch vụ camera đ&#225;m m&#226;y                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                    </ul>


                                                    </div>
                                                </li>

                                            </ul>
                                    </li>
                                    <li class="mega" id="3335">
                                                <a href="#" class="arrow-right-mega">Container</a>
                                                                                    <ul class="container-sub-menu sub-menu-3335" id="">
                                                <li>
                                                    <div class="mega-menu sub-menu">


                                                                    <ul class="select-des">
                                                                                <li id="3325">
                                                                                    <a href="/viettel-kubernetes-service">
Viettel Kubernetes

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Đ&#225;m m&#226;y cho c&#225;c ứng dụng kiến tr&#250;c mới microservice                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                    </ul>


                                                    </div>
                                                </li>

                                            </ul>
                                    </li>
                                    <li class="mega" id="3379">
                                                <a href="#" class="arrow-right-mega">Blockchain</a>
                                                                                    <ul class="container-sub-menu sub-menu-3379" id="">
                                                <li>
                                                    <div class="mega-menu sub-menu">


                                                                    <ul class="select-des">
                                                                                <li id="3377">
                                                                                    <a href="/viettel-blockchain-node">
Viettel Blockchain Nodes
                                                                                            <i class="badge badge-success">New</i>

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Dịch vụ thu&#234; Ethereum Blockchain Node                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                    </ul>


                                                    </div>
                                                </li>

                                            </ul>
                                    </li>
                                    <li class="mega" id="1185">
                                                <a href="#" class="arrow-right-mega">Hosting</a>
                                                                                    <ul class="container-sub-menu sub-menu-1185" id="">
                                                <li>
                                                    <div class="mega-menu sub-menu">


                                                                    <ul class="select-des">
                                                                                <li id="1201">
                                                                                    <a href="/ten-mien-domain">
Viettel Domain

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
T&#234;n miền quốc gia, quốc tế                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="1202">
                                                                                    <a href="/web-hosting">
Viettel Web Hosting

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Kh&#244;ng gian lưu trữ dữ liệu Website                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="1203">
                                                                                    <a href="/email-hosting">
Viettel Email Hosting

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Thư điện tử theo t&#234;n miền ri&#234;ng                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="3309">
                                                                                    <a href="/dich-vu-ssl">
Viettel SSL

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Chứng thư số cho kết nối bảo mật an to&#224;n                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                    </ul>


                                                    </div>
                                                </li>

                                            </ul>
                                    </li>
                                    <li class="mega" id="3336">
                                                <a href="#" class="arrow-right-mega">Ứng dụng doanh nghiệp</a>
                                                                                    <ul class="container-sub-menu sub-menu-3336" id="">
                                                <li>
                                                    <div class="mega-menu sub-menu">


                                                                    <ul class="select-des">
                                                                                <li id="3384">
                                                                                    <a href="/viettel-cyber-work">
Viettel Cyber Work
                                                                                            <i class="badge badge-success">New</i>
                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Hệ thống tự động h&#243;a to&#224;n diện cho doanh nghiệp                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="3308">
                                                                                    <a href="/office-365">
Microsoft 365
                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Bộ ứng dụng Office d&#224;nh cho doanh nghiệp                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="1213">
                                                                                    <a href="/thue-license">
Viettel License Leasing
                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Thu&#234; bản quyền phần mềm mới nhất của c&#225;c h&#227;ng c&#244;ng nghệ                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="3306">
                                                                                    <a href="/storebox-luu-tru-chia-se-du-lieu">
Viettel Drive
                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Lưu trữ, đồng bộ, quản l&#253;, chia sẻ dữ liệu                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="1191">
                                                                                    <a href="/cloud-pc">
Viettel Cloud PC (VDI)
                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
M&#225;y t&#237;nh ảo sử dụng giải ph&#225;p VDI                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="3373">
                                                                                    <a href="/viettel-cloud-desktop">
Viettel Cloud Desktop (DaaS)
                                                                                            <i class="badge badge-success">New</i>
                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
M&#225;y t&#237;nh để b&#224;n ảo sử dụng m&#244; h&#236;nh DaaS                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                        


                                                                    </ul>


                                                    </div>
                                                </li>

                                            </ul>
                                    </li>
                                    <li class="mega" id="3337">
                                                <a href="#" class="arrow-right-mega">Cơ sở dữ liệu đ&#225;m m&#226;y</a>
                                                                                    <ul class="container-sub-menu sub-menu-3337" id="">
                                                <li>
                                                    <div class="mega-menu sub-menu">


                                                                    <ul class="select-des">
                                                                                <li id="3324">
                                                                                    <a href="/database-as-a-service">
Viettel StartDB
                                                                                            <i class="badge badge-success">New</i>

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Dịch vụ cơ sở dữ liệu quan hệ                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                    </ul>


                                                    </div>
                                                </li>

                                            </ul>
                                    </li>
                                    <li class="mega" id="1187">
                                                <a href="#" class="arrow-right-mega">Tư vấn, Triển khai &amp; Vận h&#224;nh</a>
                                                                                    <ul class="container-sub-menu sub-menu-1187" id="">
                                                <li>
                                                    <div class="mega-menu sub-menu">


                                                                    <ul class="select-des">
                                                                                <li id="3303">
                                                                                    <a href="/viettel-data-center-consulting">
Viettel Data Center Consulting

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Tư vấn v&#224; thiết kế Trung t&#226;m dữ liệu đ&#225;p ứng ti&#234;u chuẩn quốc tế                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="1214">
                                                                                    <a href="/dich-vu-quan-tri-managed-service">
Viettel Managed Services

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
Triển khai v&#224; vận h&#224;nh hạ tầng CNTT                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                                <li id="3366">
                                                                                    <a href="/aws-managed-services">
AWS Managed Services
                                                                                            <i class="badge badge-success">New</i>

                                                                                    </a>
                                                                                    <p style="min-height: 15px;">
C&#225;c dịch vụ triển khai tr&#234;n Cloud của nh&#224; cung cấp AWS                                                                                    </p>
                                                                                    
                                                                                </li>
                                                                    </ul>


                                                    </div>
                                                </li>

                                            </ul>
                                    </li>
                </div>
                </ul>
                    </li>
                <li class="menu-root" id="1181">
                                <a href="#" class="arrow-down arrow-right" id="Solutions">Giải ph&#225;p</a>
                                            <ul class="container-menu-child menu-child-1181" id="1181">
                            <div class="container-menu-child-div">
                                    <li class="mega" id="3358">
                                                <a href="/giai-phap-phat-trien-van-hanh">Ph&#225;t triển &amp; Vận h&#224;nh</a>
                                                                                    <script>
                                                        $('.menu-child-' + 1181).addClass('small-menu');
                                            </script>
                                    </li>
                                    <li class="mega" id="1216">
                                                <a href="/giai-phap-sao-luu-du-phong-du-lieu">Sao lưu &amp; Dự ph&#242;ng dữ liệu</a>
                                                                                    <script>
                                                        $('.menu-child-' + 1181).addClass('small-menu');
                                            </script>
                                    </li>
                                    <li class="mega" id="1217">
                                                <a href="/giai-phap-chuyen-doi-ha-tang-cloud">Chuyển đổi hạ tầng Cloud</a>
                                                                                    <script>
                                                        $('.menu-child-' + 1181).addClass('small-menu');
                                            </script>
                                    </li>
                                    <li class="mega" id="1218">
                                                <a href="/giai-phap-container">Container</a>
                                                                                    <script>
                                                        $('.menu-child-' + 1181).addClass('small-menu');
                                            </script>
                                    </li>
                                    <li class="mega" id="3357">
                                                <a href="/giai-phap-mang-phan-phoi-noi-dung">Mạng ph&#226;n phối nội dung (CDN)</a>
                                                                                    <script>
                                                        $('.menu-child-' + 1181).addClass('small-menu');
                                            </script>
                                    </li>
                                    <li class="mega" id="3359">
                                                <a href="/giai-phap-dam-may-hieu-nang-cao">Đ&#225;m m&#226;y hiệu năng cao</a>
                                                                                    <script>
                                                        $('.menu-child-' + 1181).addClass('small-menu');
                                            </script>
                                    </li>
                                    <li class="mega" id="3360">
                                                <a href="/giai-phap-giam-sat-ung-dung-AI">Gi&#225;m s&#225;t &amp; Ứng dụng AI</a>
                                                                                    <script>
                                                        $('.menu-child-' + 1181).addClass('small-menu');
                                            </script>
                                    </li>
                                    <li class="mega" id="3361">
                                                <a href="/giai-phap-lam-viec-di-dong">L&#224;m việc di động</a>
                                                                                    <script>
                                                        $('.menu-child-' + 1181).addClass('small-menu');
                                            </script>
                                    </li>
                                    <li class="mega" id="3362">
                                                <a href="/giai-phap-xay-dung-website">X&#226;y dựng Website</a>
                                                                                    <script>
                                                        $('.menu-child-' + 1181).addClass('small-menu');
                                            </script>
                                    </li>
                </div>
                </ul>
                    </li>
                <li class="menu-root" id="1226">
                                <a href="/Home/PriceList">Bảng gi&#225;</a>
                                        </li>
                <li class="menu-root" id="1182">
                                <a href="#" class="arrow-down arrow-right" id="News">Tin tức</a>
                                            <ul class="container-menu-child menu-child-1182" id="1182">
                            <div class="container-menu-child-div">
                                    <li class="mega" id="1221">
                                                <a href="/tin-tuc/danh-muc/tin-cong-nghe">Tin c&#244;ng nghệ</a>
                                                                                    <script>
                                                        $('.menu-child-' + 1182).addClass('small-menu');
                                            </script>
                                    </li>
                                    <li class="mega" id="1220">
                                                <a href="/tin-tuc/danh-muc/tin-khuyen-mai">Tin khuyến mại</a>
                                                                                    <script>
                                                        $('.menu-child-' + 1182).addClass('small-menu');
                                            </script>
                                    </li>
                                    <li class="mega" id="1227">
                                                <a href="http://tuyendung.viettelidc.com.vn/">Tuyển dụng</a>
                                                                                    <script>
                                                        $('.menu-child-' + 1182).addClass('small-menu');
                                            </script>
                                    </li>
                </div>
                </ul>
                    </li>
                <li class="menu-root" id="1224">
                                <a href="/ho-tro">Hỗ trợ</a>
                                        </li>
                <li class="menu-root" id="3339">
                                <a href="#" class="arrow-down arrow-right" id="Contact">Li&#234;n hệ</a>
                                            <ul class="container-menu-child menu-child-3339" id="3339">
                            <div class="container-menu-child-div">
                                    <li class="mega" id="1225">
                                                <a href="/lien-he">Li&#234;n hệ</a>
                                                                                    <script>
                                                        $('.menu-child-' + 3339).addClass('small-menu');
                                            </script>
                                    </li>
                                    <li class="mega" id="1223">
                                                <a href="/Home/Partner">Đối t&#225;c</a>
                                                                                    <script>
                                                        $('.menu-child-' + 3339).addClass('small-menu');
                                            </script>
                                    </li>
                </div>
                </ul>
                    </li>
                <li class="menu-root" id="1222">
                                <a href="/Home/AboutUs">Về Viettel IDC</a>
                                        </li>
                <li class="menu-root" id="3340">
                    <a href="#" class="arrow-down arrow-right" id="Contact">Sampe Microservice</a>
                    <ul class="container-menu-child menu-child-3340" id="3340">
                        <div class="container-menu-child-div">
                            <li class="mega" id="12250">
                                <a href="/Product/Index">Product</a>
                                <script>
                                    $('.menu-child-' + 3340).addClass('small-menu');
                                </script>
                            </li>
                            <li class="mega" id="12230">
                                <a href="/Order/Index">Order</a>
                                <script>
                                    $('.menu-child-' + 3340).addClass('small-menu');
                                </script>
                            </li>
                            <li class="mega" id="12231">
                                <a href="/Home/ExampleProduct">Example Product</a>
                                <script>
                                    $('.menu-child-' + 3340).addClass('small-menu');
                                </script>
                            </li>
                            <li class="mega" id="12232">
                                <a href="/Home/ExampleOrder">Example Order</a>
                                <script>
                                    $('.menu-child-' + 3340).addClass('small-menu');
                                </script>
                            </li>
                    </ul>
                </div>
                </li>
        <script>
            $('.menu-root').hover(function () {
                if ($('.container-menu-child').is(':visible')) {
                    $('.background-trans').show();
                } else {
                    $('.background-trans').hide();
                }
            })
            $('#1180 > a').addClass('arrow-down arrow-right');
            if ($(window).width() < 1025) {
                $('.render-menu .menu-root > a').click(function () {
                    var id = ($(this).parent().attr('id'));
                    $(".menu-child-" + id).slideToggle(200);
                });
                $('.mega').click(function () {
                    $(".sub-menu-" + this.id).slideToggle(200);
                });
            }
        </script>


                </div>
            </div>
            <div class="options-menu">
                <div class="menu-right">
                    <ul>
                        <li>
                            <form class="search-form-header" action="\Search">
                                <input class="search-input" placeholder="T&#236;m kiếm" id="Search_Name" name="Search_Name" />
                                <button style="display:none" href="javascript:;" type="submit" class="input-group-text" id="btn_Search">T&#236;m Kiếm</button>
                                <button class="close-button" type="button"><span class="close"></span></button>
                            </form>
                        </li>
                        <li>
                            <a id="search-toggle" class="menu-icon-img" href="#" title="T&#236;m Kiếm">
                                <img src="/Themes/itmetech/img/svg/search_icn.svg" />
                            </a>
                        </li>
                        <li class="d-none d-xl-inline-block">
                            <div class="dropdown dropdown-hover">
                                                <button type="button" class="lang-switcher  lang-en" id="langSw" title="English" onclick="ChangeDisplayLanguage('en');">
                                                    EN
                                                </button>

                            </div>
                        </li>
                            <li class="d-none d-lg-inline-block free-account">
                                <a class="menu-icon" href="/Account/Login" title="Đăng nhập">
                                    <span class="login">Đăng nhập</span>
                                </a>
                                <a href="/Account/Register" class="free-account-btn" title="Đăng k&#253;"><span>Đăng k&#253;</span></a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<script>
    $(document).ready(function () {
        $('#search-toggle').click(function() {
            $('.search-form-header').show();
            $('#search-toggle').hide();
        });
        $('.close-button').click(function() {
            $('.search-form-header').hide();
            $('#search-toggle').show();
        });
    })
</script>
    </section>

<script type="text/javascript">
    if (!String.prototype.format) {
        String.prototype.format = function () {
            var args = arguments;
            return this.replace(/{(\d+)}/g, function (match, number) {
                return typeof args[number] != 'undefined'
                    ? args[number]
                    : match
                    ;
            });
        };
    }
</script>
<!-- END: TOPBAR -->


    
    <article>
        


<!-- SLIDER -->

<section class="home-header">
    <div id="home-banner" class="banner-slider carousel-fade carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
                        <li data-target="#home-banner" data-slide-to="0" class="active"></li>
                    <li data-target="#home-banner" data-slide-to="1"></li>
                    <li data-target="#home-banner" data-slide-to="2"></li>
                    <li data-target="#home-banner" data-slide-to="3"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
                        <div class="carousel-item active " style="background: url(/uploadimage/Root/root/2fa81931-3f40-4bc5-8c63-e24d0f03cb30.png) no-repeat center / cover; cursor: pointer;" onclick=location.href=`https://viettelidc.com.vn/tin-tuc/data-center-cloud-infrastructure-summit-2023-cung-viettel-idc-tang-toc-cho-hanh-trinh-so`;>
                            <div class="slide-solid turquoise">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="slider-text">
                                                <div class="align-middle">
                                                        <h1 class="pt-3 slider-text-title">&nbsp;<br />
&nbsp;</h1>

                                                        <p class="slider-text-description">&nbsp;<br />
&nbsp;</p>

                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item  " style="background: url(/uploadimage/Root/root/banner-tc3.png) no-repeat center / cover; cursor: unset;" >
                            <div class="slide-solid turquoise">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="slider-text">
                                                <div class="align-middle">

                                                        <h2 class="pt-3 slider-text-title"><span style="font-size:28px;">Số 1 Việt Nam về Dịch vụ Trung t&acirc;m Dữ liệu v&agrave; Điện to&aacute;n Đ&aacute;m m&acirc;y</span></h2>

                                                        <p class="slider-text-description">Viettel IDC lu&ocirc;n nỗ lực mỗi ng&agrave;y, cam kết mang đến chất lượng dịch vụ tốt nhất cho kh&aacute;ch h&agrave;ng</p>

                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item  " style="background: url(/uploadimage/Root/root/banner-tc2.png) no-repeat center / cover; cursor: unset;" >
                            <div class="slide-solid turquoise">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="slider-text">
                                                <div class="align-middle">

                                                        <h2 class="pt-3 slider-text-title"><span style="font-size:28px;">Hệ sinh th&aacute;i Dịch vụ đa dạng với chất lượng tốt nhất</span></h2>

                                                        <p class="slider-text-description">Viettel IDC cung cấp đa dạng c&aacute;c dịch vụ, đ&aacute;p ứng mọi nhu cầu của kh&aacute;ch h&agrave;ng</p>

                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item  " style="background: url(/uploadimage/Root/root/banner-tc-3.png) no-repeat center / cover; cursor: unset;" >
                            <div class="slide-solid turquoise">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="slider-text">
                                                <div class="align-middle">

                                                        <h2 class="pt-3 slider-text-title"><span style="font-size:28px;">5 Trung t&acirc;m Dữ liệu đạt Ti&ecirc;u chuẩn Quốc tế TIA-942 Rated 3 Constructed Facilities</span></h2>

                                                        <p class="slider-text-description">Hệ thống đ&aacute;p ứng mọi nhu cầu với kết nối&nbsp;internet nhanh, băng th&ocirc;ng lớn, uptime l&ecirc;n đến 99,99%</p>

                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

        </div>


        <a class="carousel-control-prev" href="#home-banner" role="button" data-slide="prev">
            <span class="vt-icon icon-back-arrow" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#home-banner" role="button" data-slide="next">
            <span class="vt-icon icon-right-arrow" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- END: SLIDER -->
</section>

<section class="container">
    @RenderBody()
</section>

    </article>




<footer class="footer">
    <div class="container">
        <div class="row row-sm">
            <div class="col-lg-3 col-md-6">
                <div class="footer-info">
                    <div class="footer-logo">
                        <img src="/Themes/itmetech/img/logo-IDC-2.svg" alt="Viettel IDC" title="H&#224; Nội: Tầng 16, Hapulico Center Building, Số 1 Nguyễn Huy Tưởng, Q.Thanh Xu&#226;n." />
                    </div>
                    <span class="d-block mb-2" itemprop="telephone">Hotline: <a href="tel:18008088"><strong>1800 8088</strong></a></span>
                    <span class="d-block mb-2" itemprop="email">Email: <a href="mailto:support@viettelidc.com.vn"><strong>support@viettelidc.com.vn</strong></a></span>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row row-sm">


                            <div class="col-md-3">
                                <div class="footer-block">
                                        <h5 class="mh" title="VIETTEL IDC">VIETTEL IDC</h5>
                                    <ul class="footer-list">
                                                    <li><a href="/ve-chung-toi" title="Giới thiệu">Giới thiệu</a></li>
                                                    <li><a href="/doi-tac" title="Hợp tác">Hợp tác</a></li>
                                                    <li><a href="https://affiliate.viettelidc.com.vn/" title="Chương trình Affiliate">Chương trình Affiliate</a></li>
                                                    <li><a href="https://tuyendung.viettelidc.com.vn/" title="Tuyển dụng">Tuyển dụng</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="footer-block">
                                        <h5 class="mh" title="DỊCH VỤ NỔI BẬT">DỊCH VỤ NỔI BẬT</h5>
                                    <ul class="footer-list">
                                                    <li><a href="/cloud-server" title="Viettel Cloud Server">Viettel Cloud Server</a></li>
                                                    <li><a href="/virtual-private-cloud" title="Viettel Virtual Private Cloud">Viettel Virtual Private Cloud</a></li>
                                                    <li><a href="/cloud-storage" title="Viettel Cloud Object Storage">Viettel Cloud Object Storage</a></li>
                                                    <li><a href="/backup-as-a-service" title="Viettel Cloud Backup">Viettel Cloud Backup</a></li>
                                                    <li><a href="/mang-phan-phoi-noi-dung-cdn" title="Viettel Media CDN">Viettel Media CDN</a></li>
                                                    <li><a href="/cho-thue-cho-dat-thiet-bi" title="Thuê chỗ đặt thiết bị">Thuê chỗ đặt thiết bị</a></li>
                                                    <li><a href="/viettel-hybrid-connect" title="Viettel Hybrid Connect">Viettel Hybrid Connect</a></li>
                                                    <li><a href="/viettel-cloud-desktop" title="Viettel Cloud Desktop">Viettel Cloud Desktop</a></li>
                                                    <li><a href="/cloud-file-storage" title="Viettel Cloud File Storage">Viettel Cloud File Storage</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="footer-block">
                                        <h5 class="mh" title="GIẢI PHÁP">GIẢI PHÁP</h5>
                                    <ul class="footer-list">
                                                    <li><a href="/giai-phap-sao-luu-du-phong-du-lieu" title="Sao lưu & Dự phòng dữ liệu">Sao lưu & Dự phòng dữ liệu</a></li>
                                                    <li><a href="/giai-phap-chuyen-doi-ha-tang-cloud" title="Chuyển đổi hạ tầng Cloud">Chuyển đổi hạ tầng Cloud</a></li>
                                                    <li><a href="/giai-phap-container" title="Container">Container</a></li>
                                                    <li><a href="/giai-phap-mang-phan-phoi-noi-dung" title="Mạng phân phối nội dung">Mạng phân phối nội dung</a></li>
                                                    <li><a href="/giai-phap-phat-trien-van-hanh" title="Phát triển & Vận hành">Phát triển & Vận hành</a></li>
                                                    <li><a href="/giai-phap-dam-may-hieu-nang-cao" title="Đám mây hiệu năng cao">Đám mây hiệu năng cao</a></li>
                                                    <li><a href="/giai-phap-giam-sat-ung-dung-AI" title="Giám sát & Ứng dụng AI">Giám sát & Ứng dụng AI</a></li>
                                                    <li><a href="/giai-phap-lam-viec-di-dong" title="Làm việc di động">Làm việc di động</a></li>
                                                    <li><a href="/giai-phap-xay-dung-website" title="Xây dựng Website">Xây dựng Website</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="footer-block">
                                        <h5 class="mh" title="TRỢ GIÚP">TRỢ GIÚP</h5>
                                    <ul class="footer-list">
                                                    <li><a href="/lien-he" title="Liên hệ hỗ trợ, khiếu nại">Liên hệ hỗ trợ, khiếu nại</a></li>
                                                    <li><a href="/ho-tro" title="Hỗ trợ sử dụng dịch vụ">Hỗ trợ sử dụng dịch vụ</a></li>
                                                    <li><a href="/ServiceInit/Dashboard" title="Hệ thống Quản trị dịch vụ">Hệ thống Quản trị dịch vụ</a></li>
                                                    <li><a href="/ho-tro/dieu-khoan-su-dung-dich-vu-tren-website" title="Thỏa thuận sử dụng">Thỏa thuận sử dụng</a></li>
                                                    <li><a href="/tin-tuc/6-buoc-huong-dan-mua-dich-vu-may-chu-ao-tai-viettel-idc" title="Cách đăng ký dịch vụ máy chủ ảo">Cách đăng ký dịch vụ máy chủ ảo</a></li>
                                                    <li><a href="/tin-tuc/cac-hinh-thuc-thanh-toan-tai-viettel-idc" title="Các hình thức thanh toán">Các hình thức thanh toán</a></li>
                                                    <li><a href="/tin-tuc/huong-dan-gia-han-hop-dong-dich-vu-viettel-idc-tren-portal-automation" title="Hướng dẫn gia hạn dịch vụ">Hướng dẫn gia hạn dịch vụ</a></li>
                                                    <li><a href="/tin-tuc/danh-muc/tin-khuyen-mai" title="Chương trình ưu đãi, khuyến mại">Chương trình ưu đãi, khuyến mại</a></li>
                                    </ul>
                                </div>
                            </div>
                </div>
            </div>
        </div>
        <div class="certificates">
            <div class="row row-sm">
                <div class="col-lg-9 col-md-8">
                    <div class="row row-sm">
                        <div class="col-md-6 col-lg-9">
                            <div class="footer-block">
                                <h5>
                                    CHỨNG CHỈ
                                </h5>
                                <div class="row row-sm justify-content-center align-items-center">
                                    <div class="col-12">
                                        <div class="certificate-wrapper">
                                            <div class="certificate-block">
                                                <a href="javascript:void(0);">
                                                    <img src="/uploadimage/Root/root/logo-chung-chi-idc-27001.png"
                                                         srcset="/uploadimage/Root/root/logo-chung-chi-idc-27001.png"
                                                         class="img-fluid" />
                                                </a>
                                            </div>
                                            <div class="certificate-block">
                                                <a href="javascript:void(0);">
                                                    <img src="/uploadimage/Root/root/1-rate3-design.png"
                                                         srcset="/uploadimage/Root/root/1-rate3-design.png"
                                                         class="img-fluid" />
                                                </a>
                                            </div>
                                            <div class="certificate-block">
                                                <a href="javascript:void(0);">
                                                    <img src="/uploadimage/Root/root/2-rate3-rate3facilities.png"
                                                         srcset="/uploadimage/Root/root/2-rate3-rate3facilities.png"
                                                         class="img-fluid" />
                                                </a>
                                            </div>
                                            <div class="certificate-block">
                                                <a href="javascript:void(0);">
                                                    <img src="/uploadimage/Root/root/3-iso-27001-2013.png"
                                                         srcset="/uploadimage/Root/root/3-iso-27001-2013.png"
                                                         class="img-fluid" />
                                                </a>
                                            </div>
                                            <div class="certificate-block">
                                                <a href="javascript:void(0);">
                                                    <img src="/uploadimage/Root/root/4-iso27017-2015-06.png"
                                                         srcset="/uploadimage/Root/root/4-iso27017-2015-06.png"
                                                         class="img-fluid" />
                                                </a>
                                            </div>
                                            <div class="certificate-block">
                                                <a href="javascript:void(0);">
                                                    <img src="/uploadimage/Root/root/5-iso-9001-2015.png"
                                                         srcset="/uploadimage/Root/root/5-iso-9001-2015.png"
                                                         class="img-fluid" />
                                                </a>
                                            </div>
                                            <div class="certificate-block">
                                                <a href="javascript:void(0);">
                                                    <img src="/uploadimage/Root/root/6-iso50001-2018.png"
                                                         srcset="/uploadimage/Root/root/6-iso50001-2018.png"
                                                         class="img-fluid" />
                                                </a>
                                            </div>
                                            <div class="certificate-block">
                                                <a href="javascript:void(0);">
                                                    <img src="/uploadimage/Root/root/7-PCIDSS.png"
                                                         srcset="/uploadimage/Root/root/7-PCIDSS.png"
                                                         class="img-fluid" />
                                                </a>
                                            </div>
                                            <div class="certificate-block">
                                                <a href="javascript:void(0);">
                                                    <img src="/uploadimage/Root/root/SOC_NonCPA.png"
                                                         srcset="/uploadimage/Root/root/SOC_NonCPA.png"
                                                         class="img-fluid" />
                                                </a>
                                            </div>
                                            <div class="certificate-block">
                                                <a href="javascript:void(0);">
                                                    <img src="/uploadimage/Root/root/logo-chung-chi-idc-20000.png"
                                                         srcset="/uploadimage/Root/root/logo-chung-chi-idc-20000.png"
                                                         class="img-fluid" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5>
                                    Đối tác
                                </h5>
                                <div class="row row-sm justify-content-center align-items-center">
                                    <div class="col-12">
                                        <div class="certificate-brand-wrapper">
                                            <div class="certificate-block">
                                                <a href="javascript:void(0);">
                                                    <img src="/uploadimage/Root/root/chung-chi-10.png"
                                                         srcset="/uploadimage/Root/root/chung-chi-10.png"
                                                         class="img-fluid" />
                                                </a>
                                            </div>
                                            <div class="certificate-block">
                                                <a href="javascript:void(0);">
                                                    <img src="/uploadimage/Root/root/chung-chi-09.png"
                                                         srcset="/uploadimage/Root/root/chung-chi-09.png"
                                                         class="img-fluid" />
                                                </a>
                                            </div>
                                            <div class="certificate-block">
                                                <a href="javascript:void(0);">
                                                    <img src="/uploadimage/Root/root/chung-chi-05.png"
                                                         srcset="/uploadimage/Root/root/chung-chi-05.png"
                                                         class="img-fluid" />
                                                </a>
                                            </div>
                                            <div class="certificate-block">
                                                <img src="/uploadimage/Root/root/chung-chi-08.png"
                                                     srcset="/uploadimage/Root/root/chung-chi-08.png"
                                                     class="img-fluid">
                                            </div>
                                            <div class="certificate-block">
                                                <a href="javascript:void(0);">
                                                    <img src="/uploadimage/Root/root/chung-chi-07.png"
                                                         srcset="/uploadimage/Root/root/chung-chi-07.png"
                                                         class="img-fluid" />
                                                </a>
                                            </div>
                                            <div class="certificate-block">
                                                <a href="javascript:void(0);">
                                                    <img src="/uploadimage/Root/root/chung-chi-11.png"
                                                         srcset="/uploadimage/Root/root/chung-chi-11.png"
                                                         class="img-fluid" />
                                                </a>
                                            </div>
                                            <div class="certificate-block">
                                                <a href="javascript:void(0);">
                                                    <img src="/uploadimage/Root/root/Akamai.png"
                                                         srcset="/uploadimage/Root/root/Akamai.png"
                                                         class="img-fluid" />
                                                </a>
                                            </div>
                                            <div class="certificate-block">
                                                <a href="javascript:void(0);">
                                                    <img src="/uploadimage/Root/root/VNNIC_Partner.png"
                                                         srcset="/uploadimage/Root/root/VNNIC_Partner.png"
                                                         class="img-fluid" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="row row-sm justify-content-end">
                        <div class="col-lg-9">
                            <div class="footer-block">
                                <h5>
                                    CỘNG ĐỒNG VIETTEL IDC
                                </h5>
                                <div class="row row-sm justify-content-start">
                                    <div class="col-md-6">
                                        <!--SOCIAL HERE-->
                                        <div class="text-left mb-2">
                                            <div class="fb-like" data-href="https://facebook.com/viettelidc" data-width=""
                                                 data-layout="button_count" data-action="like" data-size="large" data-show-faces="true"
                                                 data-share="false">
                                            </div>
                                        </div>
                                        <div class="text-left mb-2">
                                            <div class="g-ytsubscribe" data-channelid="UC0bqnPvRMO0yvcOs9AMdImw" data-layout="default" data-count="default"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="footer-block">
                                <h5>
                                    Phương thức thanh toán
                                </h5>
                                <div class="row row-sm justify-content-start">
                                    <div class="col-lg-9 col-6">
                                        <div class="row row-sm align-items-center">
                                            <div class="col-12">
                                                <ul class="payment-wrapper">
                                                    <li>
                                                        <div class="payment-block">
                                                            <a href="">
                                                                <img src="/Themes/itmetech/img/visa.png"
                                                                     srcset="/Themes/itmetech/img/visa@2x.png 2x,/Themes/itmetech/img/visa@3x.png 3x"
                                                                     class="img-fluid" title="Visa" />
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="payment-block">
                                                            <a href="">
                                                                <img src="/Themes/itmetech/img/mastercard.png"
                                                                     srcset="/Themes/itmetech/img/mastercard@2x.png 2x, /Themes/itmetech/img/mastercard@3x.png 3x"
                                                                     class="img-fluid" title="Master Card" />
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="payment-block">
                                                            <a href="">
                                                                <img src="/Themes/itmetech/img/jcb.png"
                                                                     srcset="/Themes/itmetech/img/jcb@2x.png 2x, /Themes/itmetech/img/jcb@3x.png 3x"
                                                                     class="img-fluid" title="Jcb" />
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="payment-block">
                                                            <a href="">
                                                                <img src="/Themes/itmetech/img/internet-banking.png"
                                                                     srcset="/Themes/itmetech/img/internet-banking@2x.png 2x, /Themes/itmetech/img/internet-banking@3x.png 3x"
                                                                     class="img-fluid" title="Internet Banking" />
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="payment-block">
                                                            <a href="">
                                                                <img src="/Themes/itmetech/img/cash.png"
                                                                     srcset="/Themes/itmetech/img/cash@2x.png 2x, /Themes/itmetech/img/cash@3x.png 3x"
                                                                     class="img-fluid" title="Cash" />
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="payment-block">
                                                            <a href="">
                                                                <img src="/Themes/itmetech/img/group-3.png"
                                                                     srcset="/Themes/itmetech/img/group-3@2x.png 2x, /Themes/itmetech/img/group-3@3x.png 3x"
                                                                     class="img-fluid" title="Vnpay" />
                                                            </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center justify-content-end">
                <div class="col-md-6 col-lg-5 col-xl-4">
                    <small class="copyright-text d-none d-lg-block">
                        &copy;  Bản quyền thuộc về: C&#244;ng ty TNHH Viettel - CHT
                    </small>
                </div>
                <div class="col-md-6 col-lg-7 col-xl-6">
                    <ul class="footer-menu d-none d-lg-block">
                                    <li><a href="/tin-tuc" title="Tin tức">Tin tức</a></li>
                                    <li><a href="http://tuyendung.viettelidc.com.vn/" title="Tuyển dụng">Tuyển dụng</a></li>
                                    <li><a href="/Home/Support" title="Hỗ trợ">Hỗ trợ</a></li>
                                    <li><a href="/Home/PriceList" title="Bảng gi&#225;">Bảng gi&#225;</a></li>
                                    <li><a href="/Home/Contact" title="Li&#234;n hệ">Li&#234;n hệ</a></li>
                    </ul>
                </div>
                <div class="col-xl-2">
                    <div class="row align-items-start">
                        <div class="col-8 col-md-4 col-lg-4 d-block d-xl-none">
                            <!-- Language switch on mobile -->
                            <a href="#langs" class="lang-switcher-mobile" data-toggle="collapse">
                                <span>
                                        <img src="/Themes/itmetech/img/svg/vi.svg" />
                                    Ti&#234;́ng Việt
                                </span>
                                <i class="vt-icon icon-arrow_more_icn"></i>
                            </a>
                            <ul class="nav collapse" id="langs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" onclick="ChangeDisplayLanguage('en');" href="javascript:;" title="English">
                                                <img src="/Themes/itmetech/img/svg/en.svg" />
                                            English

                                        </a>
                                    </li>
                            </ul>
                        </div>
                        <div class="col-8 col-md-8 col-lg-12">
                            <div class="row justify-content-end align-items-center">
                                <div class="col-8 col-md-4 col-lg-8">
                                    <a href="  http://online.gov.vn/CustomWebsiteDisplay.aspx?DocId=13454" target="_blank">
                                        <img src="/Themes/itmetech/img/bo-cong-thuong.png"
                                             srcset="Themes/itmetech/img/bo-cong-thuong@2x.png 2x, Themes/itmetech/img/bo-cong-thuong@3x.png 3x"
                                             class="img-fluid" />
                                    </a>
                                </div>
                                <div class="col-4 col-md-2 col-lg-4">
                                    <a href="http://ipv6-test.com/validate.php?url=https://www.viettelidc.com.vn" target="_blank">
                                        <img src="/Themes/itmetech/img/512-px-world-i-pv-6-launch-badge-svg.png"
                                             srcset="Themes/itmetech/img/512-px-world-i-pv-6-launch-badge-svg@2x.png 2x, Themes/itmetech/img/512-px-world-i-pv-6-launch-badge-svg@3x.png 3x"
                                             class="img-fluid" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v4.0&appId=437900153751088&autoLogAppEvents=1"></script>
<!-- END: FOOTER -->
<script src="https://apis.google.com/js/platform.js"></script>

        <div class="float-buttons">
            <button class="float-button top"></button>
            <a class="float-button call" href="tel:18008088"></a>
        </div>
    <!-- END: WRAPPER -->
    <!-- GO TOP BUTTON -->

    <script type="text/javascript">
    var changePasswordUrl = "/Account/ChangePassword";
    var changePassCaptchaUrl = "/Account/CaptchaImage";
    var changeLanguageUrl = '/Home/SetCurrentDisplayLanguage';
    var urlGetDataDisplayLanguage = '/Home/getDataDisplayLanguage';
    </script>
    <script type="text/javascript">
        var getViewPort = function () {
            var t = window,
                e = "inner";
            return "innerWidth" in window || (e = "client", t = document.documentElement || document.body), {
                width: t[e + "Width"],
                height: t[e + "Height"]
            }
        }

        function ChangeDisplayLanguage(language) {
            $.get(window.changeLanguageUrl, { displayLanguage: language }, function () {
                var pathname = document.location.pathname;
                if (pathname === '/en') {
                    location.href = '/en/home';
                    return;
                }
                location.reload();
            });
        }

        var hasResource = window.localStorage.getItem('Language_HasResource_' + 'vi-VN');
        if (hasResource == undefined || hasResource == null || hasResource === '') {
            getDataDisplayLanguage('vi-VN', false);
        }

        function getLanguageText(key) {
            return window.localStorage.getItem('Language_' + 'vi-VN' + '_' + key);
        }

        function setLanguageText(key, value) {
            return window.localStorage.setItem('Language_' + 'vi-VN' + '_' + key, value);
        }

        function getDataDisplayLanguage(language, reload) {
            $.get(window.urlGetDataDisplayLanguage, { displayLanguage: language }, function (response) {
                window.localStorage.setItem('Language_HasResource_' + language, language);
                for (var key in response.Resource) {
                    window.localStorage.setItem('Language_' + language + '_' + key, response.Resource[key]);
                }
		    });
        }

        function setDefaultText(value) {
            return value;
        }

    </script>
    <!-- <script src="/Scripts/plugins/globinfo/globalize.js"></script> -->
    <!-- <script src="/Scripts/plugins/globinfo/globalize.culture.vi-VN.js"></script> -->
    
    <script src="/Scripts/respond.js"></script>
<!-- <script src="Scripts/toastr.js"></script> -->
<!-- <script src="Scripts/plugins/sweetalert2/sweetalert2.js"></script> -->
<script src="/Scripts/common/common.js"></script>


    

    <script type="text/javascript">
        if (document.getElementById("quantities") != null) {
            document.getElementById("quantities").focus();
        }

         $(document).ready(function () {
            $('.megamenu').stellarNav({
                mobileMode: true,
                menuLabel: 'Đ&#243;ng',
            });
        });
    </script>

        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/5b29e008eba8cd3125e300ec/default';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <!--End of Tawk.to Script-->
         @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
